@{
    ViewData["Title"] = "Add New Student";
}

<h3>Add New Student</h3>

<form action="saveStudent" method="POST">
    <input type="text" name="name" placeholder="Enter Student's Name"> <br>
    <input type="text" name="roll" placeholder="Enter Student's Roll"> <br>
    <input type="text" name="classNO" placeholder="Enter Student's Class"> <br>
    <input type="submit" name="Save Student" >
</form>